body{
	text-align: center;
	margin:0 10% 10% 10%;
}
nav a{
	text-decoration: none;
	color:white;
	margin:2%;
}
a:hover{
	color:orange;
}
.navBar{
	background-color:#33401c;
	font-size:20px;
	padding: 1%;
	text-align: right;
}
.reglog{
	display:flex;
	text-align: center;
	margin-top:3%;
}
.reglogChild{
	flex:1;
	border-style: solid;
	border-color: black;
	padding:2%;
}
input{
	padding:1%;
	margin:1%;
}
.buttons{
	background-color:#33401c;
	color:white;
	padding:1.5%;
	border:none;
}
.bar{
	display:flex;
	margin:1%;
	max-height:125px;
	min-height:125px;
	overflow:hidden;
	align-items: center;
	justify-content: center;
}
img{
	max-width:150px;
	flex:1;
}
.description{
	flex:5;
	text-align: left;
	padding-left:1%;
}
.go{
	flex:1;
	height:50px;

}
.list{
	display:inline;
}